<div class="container">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <div class="logo"><span>Q</span>uiz<span>Q</span>ue</div>
      <div class="quiz-container">
        <h4>JavaScript Exam Assessment</h4>
        <span>Welcome {{ name }}</span>
      </div>
    </div>



<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-primary btn-lg" style="font-size: 2rem;" routerLink="/aptitude">APTITUDE</button>
          <button type="button" class="btn btn-primary btn-lg" style="font-size: 2rem;">PROGRAMMING</button>
        </div>
      </div>
    </div>
  </div>
  